{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>List of USERS</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Verifié</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': user.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': user.id}) }}" class="btn btn-primary">edit</a>
                    <a href="{{ url('app_utilisateur_delete', {'id': user.id}) }}" class="btn btn-danger">Remove</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
